.button {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
  cursor: pointer;
  color: #fe019a;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.4);
  background: linear-gradient(180deg, rgba(80,80,80,1) 0%, rgba(20,20,20,1) 100%);
}
.button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.button:hover .button-text {
  opacity: 1;
}
.button-column {
  position: absolute;
  left: 85%;
  top: 33%;
}

@media (max-width: 767px) {
  .button-column {
    display: none; // This will hide the entire column
  }
}

.button:nth-child(1) {
  top: 0;
}
.button:nth-child(2) {
  top: 60px;
}
.button:nth-child(3) {
  top: 120px;
}

.button-text {
  position: absolute;
  color: #BC13FE;
  text-shadow:
  0 0 5px #9d00ff,
  0 0 10px #9d00ff,
  0 0 20px #9d00ff;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
}

