
<app-sidebar></app-sidebar>
<div class="black-shiny-header"></div>
<div class="shop-description text-center mt-4">
  <h1>Get to know the shockbliss team</h1>
  <p>We are a sister duo dedicated to bringing you the most shockingly interesting art meets tech -solutions. Our mission is to make your life more organized and blissed.</p>
  <br>
  
</div>
  <h1 class="page-title">Who we are</h1>

  <div class="founders-grid">
    <div class="founder-card" *ngFor="let f of founders">
      <h3 class="founder-title">{{ f.title }}</h3>

      <div class="founder-image-wrap">
        <img [src]="f.image" [alt]="f.name" class="founder-image" />
      </div>

      <div class="info-box">
        <h4 class="founder-name">{{ f.name }}</h4>
        <p class="founder-bio">{{ f.bio }}</p>

        <div class="contact-info">
          <a class="email" href="mailto:{{ f.email }}">{{ f.email }}</a>
          <div class="phone">{{ f.phone }}</div>
        </div>
      </div>
    </div>

</div> <app-contact-form
[formTitle]="'Ota yhteyttä tiimiin'"
  (formSubmitted)="handleFormSubmit($event)"></app-contact-form>
